.section-leadership {
    margin-bottom: 4.5rem;
}
.leadership-cards {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.leadership-cards .leadership-card {
    width: 10rem;
    min-height: 13.5rem;
    border-bottom: 1px solid #bbd8f1;
}
.leadership-cards .leadership-card:not(:last-child) {
    margin-right: 4rem;
}
.leadership-cards .leadership-card .card-image {
    width: 100%;
    height: 75%;
}

.leadership-cards .leadership-card .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.leadership-cards .leadership-card .card-content {
    padding: 0.1rem 0 0.3rem 0;
    font-size: 0.85rem;
}
.leadership-cards .leadership-card .card-content .card-name {
    margin-bottom: 0.7rem;
}
.leadership-cards .leadership-card .card-content .card-title {
    margin-bottom: 1rem;
}