.styled-card {
  width: 260px;
  height: 320px;
  margin: 0.5rem;
}

.styled-card-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
  position: relative;
  z-index: 99;
}

.styled-card-content {
  margin-left: 10px;
  margin-top: -20px;
  width: 260px;
  border: 2px solid #c4acf9;
  border-radius: 4px;
  background-color: #fff;
  height: 80px;
  text-align: center;
  word-wrap: break-word;
  position: relative;
  z-index: 100;
}

.styled-card-title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 2rem;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10;
}

.styled-card-title {
  color: #333;
  font-size: 1.6rem;
  font-weight: 400;
  z-index: 1000;
}

.styled-card-content::before {
  content: '';
  position: absolute;
  z-index: 9;
  width: 0; 
  height: 0; 
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
  border-bottom: 12px solid #c4acf9;
  top: -12px;
  right: 26px;
}
.styled-card-content::after {
  content: '';
  position: absolute;
  z-index: 9;
  width: 0; 
  height: 0; 
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-bottom: 12px solid #fff;
  top: -10px;
  right: 28px;
}
